body{
	background:#444;
	font-family: Arial;
	color:#000;
}

h1,p,div{
	background:#ccc;
	padding:10px;
	width:500px;
}

a{
	color:#fff;
	background:#000;
	display: inline-block;
	padding:10px;
	width:;
	height:50px; 


}

/*
	Algunos elementos tipo "inline":

	a, span, img, b, i, small, cite, code,
	em, stronge, br, script, button,
	input, label, select, textarea.
*/
/*
	Algunos elementos tipo "block":
	
	div, artile, section, header, footer,
	aside, table, p, video, ul, ol, h1, h2, h3, 
	h4, h5, h6
*/